body {
  background-color: rgb(236, 234, 224);
}
header {

  text-align: center;
}
header h1 {
  color: rgb(62, 45, 223);
  text-align: center;
  font-size: 50px;
}
p, .show-score {
  padding: 10px 70px;
  font-size: 30px;
}
h2 {
  font-size: 35px;
  color: rgb(62, 45, 223);
}

.time {
  color: rgb(62, 45, 223);
}

button {
  padding: 10px;;
  font-size: 20px;
  background-color: rgb(173, 168, 226);
  border-radius: 10px;
}

button:active {
  background-color: blue;
}



.timer {
  display: none;
  text-align: center;
}

.questions {
  display: none;
  text-align: center;
}
.question {
  font-size: 30px;


}

.done {
  display: none;
  text-align: center;
}
.scoreboard {
  display: none;
  text-align: center;
}

.choice-lists , .scoreboard-list {
  list-style-type:none;
}

.scoreboard-list {
  margin-left: 50px auto;
}

ul li {
  background-color: rgb(173, 168, 226);
  margin: 5px auto;
  width:20%;
  text-align: left;
  padding: 10px;
}

.answer-lists li:hover {
  background-color: rgb(76, 72, 121);
}

